.App {
  text-align: center;
  background-color: beige;
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .users{

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.user{
  background-color: #61dafb;
  display: flex;
  border: 1px black solid;
  width: 30%;
  justify-content: space-around;
  height: 22vh;
  align-items: center;
  border-radius: 50px;

}

.userInfo{

  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: white;
  align-items: center;
  width: 25%;

} */

.card {
  background-color: #61dafb;
  width: 25%;
  height: 20vh;
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 70%;
  height: 150px;
  border-radius: 20px;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 25px;
}
.userinfo {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  gap: 50px;
}
